.footer {
    padding-top: 64px;
    padding-bottom: 48px;
    min-height: 400px;
    position: relative;
    display: flex;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        position: relative;
    }

    &__decor {
        position: absolute;
        bottom: 0;
        width: 90%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & img {
            position: static !important;
            max-width: 147px;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__main {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & h4 {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            color: #fff;
        }
    }

    &__bottom {
        & p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.5);
        }
    }
}